.historyItem {
  display: block;
  width: 844px;
  background-color: #1C1C21;
  border-radius: 40px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

.historyData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupIgredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientList {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.ingredientListWrapper {
  position: relative;
}

.counter {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 7;
}

.image {
  border: 2px solid #801AB3;
  border-radius: 50%;
  background-color: #131316;
  object-fit: cover;
}

.ingredientList li:nth-child(n + 2) .image {
  margin-left: -20px;
}

.ingredientList li:nth-child(1) {
  position: relative;
  z-index: 6;
}

.ingredientList li:nth-child(2) {
  position: relative;
  z-index: 5;
}

.ingredientList li:nth-child(3) {
  position: relative;
  z-index: 4;
}

.ingredientList li:nth-child(4) {
  position: relative;
  z-index: 3;
}

.ingredientList li:nth-child(5) {
  position: relative;
  z-index: 2;
}

.ingredientList li:nth-child(6) {
  position: relative;
  z-index: 1;
}

.price {
  display: flex;
  justify-items: center;
}

.statusDone {
  color: #00CCCC;
}