.feedItem {
  width: 584px;
  background-color: #1C1C21;
  border-radius: 40px;
  box-sizing: border-box;
}

.feedData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groupIgredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientList {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}

.image {
  border: 2px solid #801AB3;
  border-radius: 50%;
  background-color: #131316;
  object-fit: cover;
}

li:nth-child(n + 2) .image {
  margin-left: -20px;
}

li:nth-child(1) {
  position: relative;
  z-index: 6;
}

li:nth-child(2) {
  position: relative;
  z-index: 5;
}

li:nth-child(3) {
  position: relative;
  z-index: 4;
}

li:nth-child(4) {
  position: relative;
  z-index: 3;
}

li:nth-child(5) {
  position: relative;
  z-index: 2;
}

li:nth-child(6) {
  position: relative;
  z-index: 1;
}

.price {
  display: flex;
  justify-items: center;
}