.item {
  position: relative;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
  min-height: 48px;
}

.isDragging {
  border: 1px solid green;
}

.link {
  text-decoration: none;
  color: #F2F2F3;
}